/*header och nav*/

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter+Tight:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dela Gothic One", cursive;
  font-family: "Inter Tight", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/happy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}
.logo__img {
  height: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
nav i {
  color: white;
  font-size: 20px;
}
.nav__list {
  display: none;
}

.nav_btn {
  background-color: #4c64ff;
  padding: 5px 20px;
  border: 1px solid #4c64ff;
  border-radius: 1000px;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
.nav_btn:hover,
.application_btn:hover {
  background-color: rgba(7, 7, 7, 0.2);
  border: 1px solid #4c64ff;
  color: #98a7f6;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  position: absolute;
  top: 10%;
}
.hero_text {
  font-weight: 600;
  margin: 10% 5%;
  max-width: 50%;
}

.sub_heading {
  font-weight: 400;
  font-size: 1rem;
}

.application_btn {
  background-color: #4c64ff;
  padding: 5px 20px;
  border: 1px solid #4c64ff;
  border-radius: 1000px;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  margin: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}

/* MAIN first section*/

main {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_img {
  max-width: 95%;
  height: auto;
  border-radius: 20px;
  margin: 10px 40px;
}
.about_text {
  margin: 10px;
  text-align: center;
}
.sub_h3 {
  font-size: medium;
  font-weight: 300;
}
.about_text p {
  margin: 30px 0;
}

.recommendations {
  background-color: #c0c7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.recommendations .sub_heading {
  margin-top: 40px;
}
.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0px;
  align-items: center;
}
.card {
  display: flex;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card p {
  max-width: 70%;
}
.card_img {
  width: 50%;
}

.call_to_action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 60px 0px;
}

.last_chance {
  font-size: 2rem;
  text-align: center;
}
.call_to_action p {
  margin: 30px 0px;
  text-align: center;
}

.big {
  padding: 10px 30px;
}

footer {
  padding-top: 40px;
  background-color: #c0c7f8;
  display: flex;
  justify-content: space-evenly;
}

.footer_logo {
  height: 50px;
  width: 50px;
}

.footer_list {
  list-style: none;
  font-size: small;
}
.address_box h4,
p {
  font-size: small;
}

.footer_list li {
  margin: 5px 20px;
}
.footer_list a:hover {
  color: #4c64ff;
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
  }

  .nav__list {
    list-style: none;
    display: flex;
    column-gap: 40px;
    cursor: pointer;
  }
  .fa-solid {
    display: none;
  }

  .hero_text {
    font-weight: 600;
    margin: 10% 5%;
    font-size: 3rem;
    max-width: 50%;
  }
  .sub_heading {
    font-weight: 400;
  }

  .about {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .about_img {
    max-width: 40%;
    height: auto;
    border-radius: 20px;
    margin: 10px 40px;
  }
  .about_text {
    text-align: left;
    margin-right: 80px;
    max-width: 50%;
  }
  .sub_h3 {
    margin: 10px 0px;
    font-weight: 300;
  }
  .about_text p {
    margin: 30px 0;
  }

  .card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px;
    align-items: baseline;
  }
  .card {
    display: flex;
    max-width: 30%;
    text-align: center;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .last_chance {
    font-size: 3rem;
  }
  .big {
    padding: 50px;
    font-size: 30px;
    padding: 10px 30px;
  }
  .footer_list {
    list-style: none;
  }
  .footer_logo {
    height: 100px;
    width: 100px;
  }
}
